/* Light theme colors */
:root {
  --v-background: #f5fbef;
  --v-surface: #ffffff;
  --v-primary: #388e3c;
  --v-secondary: #689f38;
  --v-accent: #00796b;
  --v-info: #4dd0e1;
  --v-warning: #f9a825;
  --v-error: #d32f2f;
  --v-success: #388e3c;
  --v-text: #1b5e20;
  --v-quiz: #d84315;
}

/* Dark theme colors */
[data-theme="dark"] {
  --v-background: #121212;
  --v-surface: #1e1e1e;
  --v-primary: #81c784;
  --v-secondary: #aed581;
  --v-accent: #26a69a;
  --v-info: #4dd0e1;
  --v-warning: #fbc02d;
  --v-error: #ef5350;
  --v-success: #66bb6a;
  --v-text: #e0f2f1;
  --v-quiz: #ff8a65;
}

/* Transition style */
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

/* Commons classes */
.gaia-opacity {
  text-shadow: rgb(var(--v-theme-text)) 1px 0 10px;
}
